<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @c_restum.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @c_restum.link %>
</p>

<%= link_to 'Edit', edit_c_restum_path(@c_restum) %> |
<%= link_to 'Back', c_resta_path %>
