<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @slider_depo.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @slider_depo.link %>
</p>

<%= link_to 'Edit', edit_slider_depo_path(@slider_depo) %> |
<%= link_to 'Back', slider_depos_path %>
