<div id="mi_credencial" class="modal indigo darken-4">
  <div class="modal-content">
  	<div>
  		<%= image_tag "icono.png", :width => "50", :alt => "logo", :class => "right" %>	
  	</div>
    <p class="white-text">
      <strong>Nº contrato:</strong>
      <%= @user.n_contrato %>  
    </p>
    <p class="white-text">
      <strong>Nº socio:</strong>
      <%= @user.id %>  
    </p>
    <p class="white-text">
      <strong>Nombre:</strong>
      <%= @user.nombre %> <%= @user.a_paterno %> <%= @user.a_materno %>    
    </p>
    <p class="white-text">
      <strong>Teléfono:</strong>
      <%= @user.telefono %>
    </p>
    <p class="white-text">
      <strong>Institucion:</strong>
      <div class="center">
        <%= image_tag @user.institucion.logo, :width => "200" %>
      </div>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-light btn"><i class="material-icons left">clear</i>Cerrar</a>
  </div>
  <br>
  <%= link_to "Cambiar contraseña?", edit_user_registration_path %>
</div>