<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>N contrato</th>
      <th>Rut</th>
      <th>Nombre</th>
      <th>A paterno</th>
      <th>A materno</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.n_contrato %></td>
        <td><%= user.rut %></td>
        <td><%= user.nombre %></td>
        <td><%= user.a_paterno %></td>
        <td><%= user.a_materno %></td>
        <td><%= user.email %></td>
        <td><%= user.telefono %></td>
        <td><%= user.sexo %></td>
        <td><%= user.edad %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
