<p id="notice"><%= notice %></p>

<p>
  <strong>N contrato:</strong>
  <%= @user.n_contrato %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>A paterno:</strong>
  <%= @user.a_paterno %>
</p>

<p>
  <strong>A materno:</strong>
  <%= @user.a_materno %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @user.edad %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
