<p id="notice"><%= notice %></p>

<h1>Listing Slider Servs</h1>

<table>
  <thead>
    <tr>
      <th>Img</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slider_servs.each do |slider_serv| %>
      <tr>
        <td><%= slider_serv.img %></td>
        <td><%= slider_serv.link %></td>
        <td><%= link_to 'Show', slider_serv %></td>
        <td><%= link_to 'Edit', edit_slider_serv_path(slider_serv) %></td>
        <td><%= link_to 'Destroy', slider_serv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slider serv', new_slider_serv_path %>
