<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @slider_serv.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @slider_serv.link %>
</p>

<%= link_to 'Edit', edit_slider_serv_path(@slider_serv) %> |
<%= link_to 'Back', slider_servs_path %>
