<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @slider_bell.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @slider_bell.link %>
</p>

<%= link_to 'Edit', edit_slider_bell_path(@slider_bell) %> |
<%= link_to 'Back', slider_bells_path %>
