<p id="notice"><%= notice %></p>

<p>
  <strong>N contrato:</strong>
  <%= @premium.n_contrato %>
</p>

<p>
  <strong>Img:</strong>
  <%= @premium.img %>
</p>

<%= link_to 'Edit', edit_premium_path(@premium) %> |
<%= link_to 'Back', premia_path %>
