<div id="slider_servicios">
  <% @slider_servs.each do |slider_serv| %>
      <a href="<%= slider_serv.link %>"><img src="<%= slider_serv.img.url(:large) %>" class="responsive-img"></a>
  <% end %>
</div>

<br>

<div class="row">
  <% @c_servs.each do |c_serv| %>
      <div class="col s6 center">
        <%= link_to c_serv do %>
            <a href="<%= c_serv.link %>"><img src="<%= c_serv.img.url(:large) %>" alt="" class="responsive-img"></a>
        <% end %>
      </div>
  <% end %>
</div>

<br>

<div class="center">
  <%= link_to estandars_path do %>
      <span class="waves-effect waves-light btn"><i class="material-icons left">replay</i>VOLVER A TODOS LOS BENEFICIOS</span>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#slider_servicios').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: false,
      draggable: true,
      mobileFirst: true,
      responsive: true,
    });
  });
</script>