<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @c_serv.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @c_serv.link %>
</p>

<%= link_to 'Edit', edit_c_serv_path(@c_serv) %> |
<%= link_to 'Back', c_servs_path %>
