<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @c_depo.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @c_depo.link %>
</p>

<%= link_to 'Edit', edit_c_depo_path(@c_depo) %> |
<%= link_to 'Back', c_depos_path %>
