<%= form_for @estandar, html: { multipart: true } do |f| %>
  <% if @estandar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estandar.errors.count, "error") %> prohibited this estandar from being saved:</h2>

      <ul>
      <% @estandar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :n_contrato %><br>
    <%= f.text_field :n_contrato %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :caluga %><br>
    <%= f.file_field :caluga %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :img1 %><br>
    <%= f.file_field :img1 %>
  </div>
  <div class="field">
    <%= f.label :img2 %><br>
    <%= f.file_field :img2 %>
  </div>
  <div class="field">
    <%= f.label :img3 %><br>
    <%= f.file_field :img3 %>
  </div>
  <div class="field">
    <%= f.label :img4 %><br>
    <%= f.file_field :img4 %>
  </div>
  <div class="field">
    <%= f.label :img5 %><br>
    <%= f.file_field :img5 %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
    <div class="field">
      <%= f.label :web %><br>
      <%= f.text_field :web %>
    </div>
  <div class="field">
    <%= f.label :mapa %><br>
    <%= f.text_field :mapa %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :instagram %><br>
    <%= f.text_field :instagram %>
  </div>
  <div class="field">
    <%= f.label :contacto %><br>
    <%= f.text_field :contacto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
