<%= form_for @slider_categorium, html: { multipart: true } do |f| %>
  <% if @slider_categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slider_categorium.errors.count, "error") %> prohibited this slider_categorium from being saved:</h2>

      <ul>
      <% @slider_categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :img %><br>
    <%= f.file_field :img %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
