<div id="carr_principal">
  <% @sliders.each do |slider| %>
      <a href="<%= slider.link %>"><img src="<%= slider.img.url(:large) %>" class="responsive-img"></a>
  <% end %>
</div>

<div class="center card-panel teal white-text">
  <h5><strong>BENEFICIOS DESCATADOS</strong></h5>
</div>

<div class="row">
<% @estandar_destacados.each do |estandar_destacado| %>
    <div class="col s6 center">
      <a href="<%= estandar_destacado.link %>"><img src="<%= estandar_destacado.img.url(:large) %>" class="responsive-img"></a>
    </div>
<% end %>
</div>

<div class="center">
  <%= link_to estandars_path do %>
    <span class="waves-effect waves-light btn"><i class="material-icons left">visibility</i>VER TODOS LOS BENEFICIOS</span>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#carr_principal').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: false,
      draggable: true,
      mobileFirst: true,
      responsive: true,
    });
  });
</script>