<!DOCTYPE html>
<html>
<head>
  <title>Portal Beneficios</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <%= render 'favicon' %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      background: url('pb_2.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  .container {
    padding: 500px 0px;
  }

  </style>
</head>
<body>

<div class="container">

</div>

</body>



</html>



