<!DOCTYPE html>
<html>
<head>
  <title>Portal Beneficios</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <%= render 'favicon' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/navbar' %>

<%= yield %>

<%= render 'partials/footer' %>

<script>
  $('.button-collapse').sideNav();
  $('.dropdown-button').dropdown();
  $('.carousel').carousel();
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });
</script>

<%= render 'partials/credencial' %>


</body>



</html>
